{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
        <title>{% block title %}Тестовый сайт{% endblock %}</title>
        </head>
    <body>
        {% if user.is_authenticated %}
                <div id="sidebar" class="menu">
                    <nav>
                        {% block sidebar %}
                            <a href="{% url 'app:main_page' %}" class="{% if request.resolver_match.view_name == 'app:main_page' %}active_page{% endif %}">Главная</a>
                            {% if request.user.role.slug == 'admin' %}
                                <a href="{% url 'app:daily_reports' date=newest_date %}" class="{% if request.resolver_match.view_name == 'app:daily_reports' %}{% if request.resolver_match.kwargs.date == newest_date %}active_page{% endif %}{% endif %}">Ежедневные отчёты</a>
                                <a href="{% url 'app:monthly_reports' %}" class="{% if request.resolver_match.view_name == 'app:monthly_reports' %}active_page{% endif %}">Сводные отчёты</a>
                            {% endif %}
                            {% if manager.pk == request.user.pk %}
                                <a href="{% url 'app:report' %}">Добавить отчёт</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'app:logout' %}" style="float: right">
                                    {% csrf_token %}
                                    <button type="submit" class='logout'>Выйти</button>
                                </form>
                            {% endif %}
                        {% endblock %}
                    </nav>
                </div>
        {% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>