{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
        <title>{% block title %}Тестовый сайт{% endblock %}</title>
        </head>
    <body>
        <div id="sidebar" class="menu">
            <nav>
                {% block sidebar %}
                    <a href="{% url 'app:main' %}" class="{% if request.path == 'app:main' %}active{% endif %}">Ежедневные отчёты</a>
                    <a href="{% url 'app:monthly' %}" class="{% if request.path == 'app:monthly' %}active{% endif %}">Сводные отчёты</a>
                    <p>Привет, {{ request.user.username }}</p>
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'app:logout' %}" style="float: right">
                            {% csrf_token %}
                            <button type="submit">Выйти</button>
                        </form>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>