{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>{% block title %}Тестовый сайт{% endblock %}</title>
</head>

<body>
    <div id="sidebar" class="menu">
        <nav>
            {% block sidebar %}
                <a href="{% url 'main' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
            {% endblock %}
        </nav>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
