{% extends "base.html" %}
{% block content %}
    <h1>Пользователи</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Месяц</th>
                <th>Общая сумма</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for income in month_income %}
                <tr>
                    <td>{{ income.month }} {{ income.year }}</td>
                    <td>{{ income.total }}</td>
                    <td><a href="{% url "app:monthly_detail" month=income.detail %}">{{ income.detail }}</a></td>
                    {% comment %} <td>{{ income.detail }}</td> {% endcomment %}
                </tr>
            {% endfor %}
            {% if next %}
                <a href="{% url "app:daily_reports" date=next %}">след</a>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}