{% extends "base.html" %}

{% block content %}
<h1>Отчёты пользователя {{ manager.last_name }} {{ manager.first_name }} {{ manager.middle_name }}</h1>
    {% if manager.reports.count >= 10 %}
        <div class="alert alert-error" style="border: none;">
            Превышено допустимое кол-во добавленных отчётов.
            <br>
            Для добавления новых нужно удалить старые.
        </div>
    {% endif %}
    <table border="1">
        <thead>
            <tr>
                <th>Адрес</th>
                <th>Дата</th>
                <th>Выручка</th>
                {% if request.user.role.slug == 'manager' %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report.address }}</td>
                    <td>{{ report.date }}</td>
                    <td>{{ report.income }} &#8381;</td>
                    {% if request.user.role.slug == 'manager' %}
                    <td>
                        {% if manager.pk == request.user.pk and report.date.month == current_month %}
                            <a href="{% url 'app:edit_report' pk=report.pk %}" class="personal_page">Редактировать</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if manager.pk == request.user.pk %}
                            <a href="{% url 'app:delete_report' pk=report.pk %}" class="personal_page">Удалить</a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

