body {
    font-family: monospace;
    background-color: #f1f1f1;
    margin: 0;
    min-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 600px;
    border-collapse: collapse;
    margin: 20px auto 0;
    border: 1px solid #adadad;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
}

table th {
    background-color: white;
}

table tbody {
    background-color: white;
}

@media (max-width: 512px) {
    table {
        font-size: 14px;
    }
}

.menu {
    padding: 10px;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
}

.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0px 5px;
    background-color: #696969;
}

.menu a:hover {
    background-color: #4c75a3;
    transition: background-color 0.2s;
}

a.active_page {
    background-color: #4c75a3;
    color: white;
}

.menu nav {
    width: 1200px;
    margin: 0 auto;
}

.report {
    text-align: center;
    color: white;
    list-style: none;
}

th, td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Скрыть границы для последнего столбца */
td:last-child, th:last-child {
    border-right: none;
}

div#content {
    width: 1200px;
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
}

table.daily {
    float: left;
    width: 800px;
    margin: 0 0 0 75px;
}

div.daily_buttons {
    width: 150px;
    margin: 0 auto;
    float: right;
    margin: 0 75px 0 0;
    font-size: 15px;
}

div.daily_buttons a {
    display: block;
    text-align: center;
    padding: 10px;
    width: auto;
    text-decoration: none;
    color: black;
}
div.daily_buttons a:hover {
    text-decoration: none;
    color: white;
    background: #4c75a3;
    transition: background-color 0.2s;
}
div.daily_buttons a.active {
    text-decoration: none;
    color: white;
    background: #4c75a3;
}

a.personal_page {
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #696969;
}

a.personal_page:hover {
    background-color: #4c75a3;
    color: white;
    transition: background-color 0.2s;
    
}

.my-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    margin: 50px auto 0;
    border: 1px solid #d5d5d5;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    margin: 13px 4px 13px 0px;
    font-size: 20px;
}

.form-field input,
.form-field select,
.form-field textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.form_date,
.form_address {
    padding: 5px;
    margin: 5px;
}

#id_date_day {
    width: 70px;
}

#id_date_year {
    width: 90px;
}

#id_date_month {
    width: 110px;
}

.form_address {
    width: 278px;
}

.form_income {
    padding: 5px;
    width: 278px;
    margin: 5px;
}

button.submit-button {
    margin: 50px auto 0;
    background-color: #4c75a3;
    color: white;
    width: auto;
}
button.submit-button:hover {
    background-color: #696969;
}
button.submit-button:active {
    background-color: #4c75a3;
}
